.fixed-bg {
  height: 16rem;
  @extend .relative;

  &::before {
    z-index: -1;
    content: '';
    background-attachment: fixed;
    background-image: url(/images/fixed-bg.jpg);
    opacity: 0.75;
    @extend .abs-t-l;
    @extend .abs-b-r;
    @extend .block;
    @extend .bg-cover;
  }
}
