<footer class="bg-04 shadow-in-15-t row-between-center space-in-2 space-out-8-t">
  <span>purelab.io 2016</span>
  <div class="row-center-center">
    <a class="rounded bg-30 row-center-center space-in-0x25 space-out-0x25-h" href="/">
      <span class="icon icon-smfb color-white"></span>
    </a>
    <a class="rounded bg-30 row-center-center space-in-0x25 space-out-0x25-h" href="/">
      <span class="icon icon-smvk color-white"></span>
    </a>
    <a class="rounded bg-30 row-center-center space-in-0x25 space-out-0x25-h" href="/">
      <span class="icon icon-smig color-white"></span>
    </a>
    <a class="rounded bg-30 row-center-center space-in-0x25 space-out-0x25-h" href="/">
      <span class="icon icon-smtw color-white"></span>
    </a>
  </div>
  <a href="mailto:sales@purelab.io">sales@purelab.io</a>
</footer>
