@mixin bg-center {
  background-position: center center;
  background-repeat: no-repeat;
}

@mixin bg-cover {
  @include bg-center;
  background-size: cover;
}

@mixin bg-contain {
  @include bg-center;
  background-size: contain;
}
