$color-primary:       #00BCD4;
$color-primary-dark:  #0097A7;
$color-primary-light: #B2EBF2;
$color-text:          #212121;
$color-text-light:    #757575;
$color-divider:       #BDBDBD;
$color-accent:        #FF5722;
$color-white:         #ffffff;

$radius: 3px;

$transition-duration: 0.2s;
$transition-function: ease-in;
