$min-width: 770px;

html * {
  box-sizing: border-box;
  max-height: 99999rem;
}

body {
  min-width: $min-width;
}

.container {
  @extend .padding-2x5-h;
  width: $min-width;
  margin-left: auto;
  margin-right: auto;
}

.container-wide {
  min-width: $min-width;
  @extend .padding-2x5-h;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  @extend .padding-1x5-l;
}
