$screen-padding: 40px;
$screen-max-width: 944px + $screen-padding * 2;

body {
  min-width: $screen-max-width;
}

.container {
  width: $screen-max-width;
  margin-left: auto;
  margin-right: auto;
  padding: 0 $screen-padding;
}
