// 1rem = 16px

.font-1 {
  line-height:    1rem; // 16px
  font-size:   0.75rem; // 12px
}

.font-2 {
  line-height:  1.5rem; // 24px
  font-size: 0.8125rem; // 13px
}

.font-3 {
  line-height:  1.5rem; // 24px
  font-size: 0.9375rem; // 15px
}

.font-4 {
  line-height:    2rem; // 32px
  font-size:   1.25rem; // 20px
}

.font-5 {
  line-height:    2rem; // 32px
  font-size:    1.5rem; // 24px
}

.font-6 {
  line-height:  2.5rem; // 40px
  font-size:      2rem; // 32px
}
