$-space-props: margin, padding;
$-space-ratio: 0.5;
$-space-min:   0.5;
$-space-max:     3;

@function spacing-class-top($p, $v) {
  @return (
    '.space-#{$p}-#{$v}-0-0-0',
    '.space-#{$p}-#{$v}-0-0-#{$v}',
    '.space-#{$p}-#{$v}-0-#{$v}-0',
    '.space-#{$p}-#{$v}-0-#{$v}-#{$v}',
    '.space-#{$p}-#{$v}-#{$v}-0-0',
    '.space-#{$p}-#{$v}-#{$v}-0-#{$v}',
    '.space-#{$p}-#{$v}-#{$v}-#{$v}-0',
    '.space-#{$p}-#{$v}-#{$v}-#{$v}-#{$v}',
    '.space-#{$p}-#{$v}-0-0',
    '.space-#{$p}-#{$v}-0-#{$v}',
    '.space-#{$p}-#{$v}-#{$v}-0',
    '.space-#{$p}-#{$v}-#{$v}-#{$v}',
    '.space-#{$p}-#{$v}-0',
    '.space-#{$p}-#{$v}'
  );
}

@function spacing-class-right($p, $v) {
  @return (
    '.space-#{$p}-0-#{$v}-0-0',
    '.space-#{$p}-0-#{$v}-0-#{$v}',
    '.space-#{$p}-0-#{$v}-#{$v}-0',
    '.space-#{$p}-0-#{$v}-#{$v}-#{$v}',
    '.space-#{$p}-#{$v}-#{$v}-0-0',
    '.space-#{$p}-#{$v}-#{$v}-0-#{$v}',
    '.space-#{$p}-#{$v}-#{$v}-#{$v}-0',
    '.space-#{$p}-#{$v}-#{$v}-#{$v}-#{$v}',
    '.space-#{$p}-0-#{$v}-0',
    '.space-#{$p}-0-#{$v}-#{$v}',
    '.space-#{$p}-#{$v}-#{$v}-0',
    '.space-#{$p}-#{$v}-#{$v}-#{$v}',
    '.space-#{$p}-0-#{$v}',
    '.space-#{$p}-#{$v}'
  );
}

@function spacing-class-bottom($p, $v) {
  @return (
    '.space-#{$p}-0-0-#{$v}-0',
    '.space-#{$p}-0-0-#{$v}-#{$v}',
    '.space-#{$p}-0-#{$v}-#{$v}-0',
    '.space-#{$p}-0-#{$v}-#{$v}-#{$v}',
    '.space-#{$p}-#{$v}-0-#{$v}-0',
    '.space-#{$p}-#{$v}-0-#{$v}-#{$v}',
    '.space-#{$p}-#{$v}-#{$v}-#{$v}-0',
    '.space-#{$p}-#{$v}-#{$v}-#{$v}-#{$v}',
    '.space-#{$p}-0-0-#{$v}',
    '.space-#{$p}-0-#{$v}-#{$v}',
    '.space-#{$p}-#{$v}-0-#{$v}',
    '.space-#{$p}-#{$v}-#{$v}-#{$v}',
    '.space-#{$p}-#{$v}-0',
    '.space-#{$p}-#{$v}'
  );
}

@function spacing-class-left($p, $v) {
  @return (
    '.space-#{$p}-0-0-0-#{$v}',
    '.space-#{$p}-0-0-#{$v}-#{$v}',
    '.space-#{$p}-0-#{$v}-0-#{$v}',
    '.space-#{$p}-0-#{$v}-#{$v}-#{$v}',
    '.space-#{$p}-#{$v}-0-0-#{$v}',
    '.space-#{$p}-#{$v}-0-#{$v}-#{$v}',
    '.space-#{$p}-#{$v}-#{$v}-0-#{$v}',
    '.space-#{$p}-#{$v}-#{$v}-#{$v}-#{$v}',
    '.space-#{$p}-0-#{$v}-0',
    '.space-#{$p}-0-#{$v}-#{$v}',
    '.space-#{$p}-#{$v}-#{$v}-0',
    '.space-#{$p}-#{$v}-#{$v}-#{$v}',
    '.space-#{$p}-0-#{$v}',
    '.space-#{$p}-#{$v}'
  );
}

@function x-value($value) {
  @return str-replace($value + "", ".", "x");
}

@mixin spacing($prop, $value) {
  #{spacing-class-top(   $prop, x-value($value))} { #{$prop}-top:    #{$value}rem; }
  #{spacing-class-right( $prop, x-value($value))} { #{$prop}-right:  #{$value}rem; }
  #{spacing-class-bottom($prop, x-value($value))} { #{$prop}-bottom: #{$value}rem; }
  #{spacing-class-left(  $prop, x-value($value))} { #{$prop}-left:   #{$value}rem; }
}

@each $prop in $-space-props {
  $value: $-space-min;
  @while $value <= $-space-max {
    @include spacing($prop, $value);
    $value: $value + $-space-ratio;
  }
}
