@font-face {
  font-family: "icons";
  src: url('icons.eot');
  src: url('icons.eot?#iefix') format('eot'),
       url('icons.woff') format('woff'),
       url('icons.woff2') format('woff2'),
       url('icons.ttf') format('truetype'),
       url('icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-']::before,
[class*=' icon-']::before {
  display: block;
  font-family: icons !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  line-height: 1;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* If the element is `inline`, give it dimensions large enough for the icon. */
span[class^='icon-'],
span[class*=' icon-'] {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 1em;
  min-height: 1em;
}


.icon-arrow-left::before {
  content: "\EA01"
}

.icon-arrow-right::before {
  content: "\EA02"
}

.icon-call::before {
  content: "\EA03"
}

.icon-email::before {
  content: "\EA04"
}

.icon-skype::before {
  content: "\EA05"
}

